@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: oklch(0.19 0.0152 211.41);
}

@theme inline {
  --color-ligth: var(--background);
  --color-accent: oklch(0.96 0.0041 157.18);
  --color-dark: oklch(0.19 0.0152 211.41);
  --color-text: #5e6572;
  --color-primary-50: #fef2f2;
  --color-primary-100: #fde7e6;
  --color-primary-200: #fbd0d1;
  --color-primary-300: #f7aaac;
  --color-primary-400: #f27a80;
  --color-primary-500: #e84855;
  --color-primary-600: #d42a40;
  --color-primary-700: #b31d34;
  --color-primary-800: #961b32;
  --color-primary-900: #801b31;
  --color-primary-950: #470a16;
  --spacing-app: 1024px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  scrollbar-gutter: stable;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Rubik Variable', sans-serif;
}

